<nav class="navbar container" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="{{site.baseurl}}/assets/images/hard-hat.svg" width="112" height="28">
      <h1 class="is-size-3 has-text-weight-bold">Proyectos Cívicos</h1>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">


    <div class="navbar-end">
      <a class="navbar-item">
        ¿Qué es esto?
      </a>
      <div class="navbar-item">
        <div class="buttons">
          <a class="button bg-tertiary border-secondary" href="http://slack.codeandomexico.org" target="_blank">
            <strong>Únete a Slack</strong>
          </a>
          <a class="button is-light">
            Contáctanos
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
